# packer generated compiled file
lua/packer/packer_compiled.lua

# neovim profiling
profile.log

# vim binary spellfiles
*.spl
*.sug

# any log files
*.log

# any backup files
*.bak

# test files
test/*
!test/minimal_init.lua

# scratch files
# files that are too wip for pushing into the repo
scratch/*
