# ignore packer generated compiled file
lua/packer/packer_compiled.lua

# ignore profiling vim
profile.log

# ignore vim binary spellfiles
*.spl
*.sug

# any log files
*.log

# test files
test/*
!test/minimal-init.vim
!test/minimal-init.lua
