# ignore packer compiled file default location
plugin/packer_compiled.lua

# ignore packer compiled file placed in lua dir
# for caching with impatient.nvim
lua/packer/packer_compiled.lua

# ignore profiling vim
profile.log

# ignore vim binary spellfiles
*.spl
*.sug
